table {
  width: 80%;
}
.login {
  width: 50%;
  background: rgb(239, 222, 211);
  margin: 100px auto;
  padding: 40px 0;
  border-radius: 15px;
}
input[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  border: none;
  background: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input[type="submit"]:hover {
  color: rgb(239, 222, 211);
  transform: scale(1.1);
}
input,
textarea {
  padding: 10px;
  width: 200px;
  background: white;
  border: 1px solid white;
  margin-bottom: 10px;
  border-radius: 5px;
}
input:focus,
textarea:focus {
  outline: none;
}
#login-realisation {
  width: 80%;
  margin: 100px auto;
}
.form-control {
  width: 100%;
}
.addButtonPhoto {
  border: none;
  padding: 0.5em;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
td {
  padding: 0 10px;
  text-align: end;
}
textarea {
  resize: vertical;
}
#avis {
  width: 80%;
}
#text-avis {
  height: 250px;
}
#cont-delete {
  display: none;
}
.delButton {
  width: 25%;
}
.delButton input {
  text-align: center;
}
.addDelete {
  padding: 2rem;
  border-top: 2px solid black;
  margin: 2rem;
}
.addDelete button,
.delButton button {
  border: none;
  background: white;
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s ease;
  border: 1px solid white;
}
.delButton button:hover {
  background: rgb(239, 222, 211);
}
.addDelete .active {
  border: 2px solid black;
  cursor: none;
}
.gridDelete {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.deleteProj {
  position: relative;
}
.deleteProj h6 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}
.deleteProj img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
